inputs:
  PACKAGE_NAME:
    description: 'package name to update'
    required: true
  PACKAGE_VERSION:
    description: 'version to update to'
    required: true
  repository_owner:
    description: 'repository owner where to push the changes'
    required: true

name: automated-package-update
description: 'Update package version and create a pull request'

runs:
  using: 'composite'
  steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 1
        repository: ${{ inputs.repository_owner }}/LibreELEC.tv
        path: LibreELEC.tv
    - name: Configure git
      shell: bash
      run: |
        cd LibreELEC.tv
        git config user.name "LibreELECBot"
        git config user.email "LibreELECBot@users.noreply.github.com"
    - name: Normalize version
      shell: bash
      run: |
        cd LibreELEC.tv
        # shorten the version if it is a git sha256 hash
        # add a full version variable as well
        PACKAGE_VERSION="${{ inputs.PACKAGE_VERSION }}"
        PACKAGE_VERSION_FULL="${{ inputs.PACKAGE_VERSION }}"
        if [[ "${PACKAGE_VERSION}" =~ ^[0-9a-fA-F]{40}$ ]]; then
          # Git SHA-256 hash to short hash
          PACKAGE_VERSION="${PACKAGE_VERSION:0:7}"
        fi
        # export vars and debug output
        echo "PACKAGE_VERSION=${PACKAGE_VERSION}" >> $GITHUB_ENV
        echo "PACKAGE_VERSION_FULL=${{ inputs.PACKAGE_VERSION }}" >> $GITHUB_ENV
        echo "PACKAGE_VERSION: ${PACKAGE_VERSION}"
        echo "PACKAGE_VERSION_FULL: ${PACKAGE_VERSION_FULL}"
    - name: Run update script
      shell: bash
      run: |
        cd LibreELEC.tv
        echo "running update for package..."
        echo "package name: ${{ inputs.PACKAGE_NAME }}"
        echo "package version: ${{ env.PACKAGE_VERSION_FULL }}"
        ./tools/update-pkg ${{ inputs.PACKAGE_NAME }} ${{ env.PACKAGE_VERSION_FULL }}
    - name: Push branch
      shell: bash
      run: |
        cd LibreELEC.tv
        git checkout -b pr-automated-${{ inputs.PACKAGE_NAME }}-${PACKAGE_VERSION}
        git push -u origin pr-automated-${{ inputs.PACKAGE_NAME }}-${PACKAGE_VERSION}
    - name: Create Pull Request
      shell: bash
      run: |
        cd LibreELEC.tv
        # get the LE base version
        LE_VERSION=$(sed -nE 's/^[[:space:]]*OS_VERSION="([^"]+)".*/\1/p' distributions/LibreELEC/version)
        # create the pr
        gh pr create \
          --repo CvH/LibreELEC.tv \
          --base master \
          --head pr-automated-${{ inputs.PACKAGE_NAME }}-${PACKAGE_VERSION} \
          --title "[LE${LE_VERSION}] ${{ inputs.PACKAGE_NAME }}: update to ${PACKAGE_VERSION}" \
          --body "Automated update of ${{ inputs.PACKAGE_NAME }} to version ${PACKAGE_VERSION} using tools/update-pkg." \
          --label "LE${LE_VERSION}" \
          --label "UPDATE" \
          --label "AUTOMATED"
    - name: Test run output
      shell: bash
      run: |
        cd LibreELEC.tv
        # testrun output, no changes pushed or PR created
        LE_VERSION=$(sed -nE 's/^[[:space:]]*OS_VERSION="([^"]+)".*/\1/p' distributions/LibreELEC/version)
        echo "create a PR"
        echo "branch name: pr-automated-${{ inputs.PACKAGE_NAME }}-${PACKAGE_VERSION}"
        echo "title: [LE${LE_VERSION}] ${{ inputs.PACKAGE_NAME }}: update to ${PACKAGE_VERSION}"
        echo "summary: Automated update of ${{ inputs.PACKAGE_NAME }} to version ${PACKAGE_VERSION} using tools/update-pkg."
        echo "label: LE${LE_VERSION}"
        echo "label: UPDATE"
        echo "label: AUTOMATED"
