name: Check for package update
on:
  workflow_dispatch:
jobs:
  check-package-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install GitHub CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y gh
      - name: Authenticate GitHub CLI
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
      - name: Check for package update
        run: |
          # run the update-scan script to get list of updated packages
          updated_packages=$(bash tools/update-scan autoupdate=yes)
          # debug output
          echo "Updated packages:"
          echo "$updated_packages"
          echo "-----"
          while read -r PACKAGE_NAME PACKAGE_VERSION; do
            echo "Triggering workflow for $PACKAGE_NAME:$PACKAGE_VERSION"

            gh workflow run update-package.yml \
              -f PACKAGE_NAME="$PACKAGE_NAME" \
              -f PACKAGE_VERSION="$PACKAGE_VERSION"
          done <<< "$updated_packages"
